<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.syq.puffer.dao.sql.mapper.DeployRsDoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.syq.puffer.dao.sql.entity.DeployRsDo">
        <id column="ID" property="id" />
        <result column="DEPLOY_ID" property="deployId" />
        <result column="RS_HIS_ID" property="rsHisId" />
        <result column="DO_ID" property="doId" />
        <result column="DO_HIS_ID" property="doHisId" />
        <result column="PACKAGE_NAME" property="packageName" />
        <result column="CLASS_NAME" property="className" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DEPLOY_ID, RS_HIS_ID, DO_ID, DO_HIS_ID, PACKAGE_NAME, CLASS_NAME, CREATE_TIME
    </sql>

</mapper>
