<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.syq.puffer.dao.sql.mapper.ModelProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.syq.puffer.dao.sql.entity.ModelProject">
        <id column="ID" property="id" />
        <result column="GROUP_ID" property="groupId" />
        <result column="ARTIFACT_ID" property="artifactId" />
        <result column="LABEL" property="label" />
        <result column="DESCRIPTION" property="description" />
        <result column="HIS_ID" property="hisId" />
        <result column="DEPLOY_ID" property="deployId" />
        <result column="CREATE_UID" property="createUid" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_UID" property="updateUid" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, GROUP_ID, ARTIFACT_ID, LABEL, DESCRIPTION, HIS_ID, DEPLOY_ID, CREATE_UID, CREATE_TIME, UPDATE_UID, UPDATE_TIME
    </sql>

</mapper>
